<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://challenges.cloudflare.com/turnstile/v0/api.js"
            async
            defer
    ></script>
</head>
<body>
<div>
    <h1>安洁露邮件溯源查询系统</h1>
    <p>请通过扫描邮件二维码查询/创建</p>


    <form action="/lookup" method="post">
        <label> ID
            <input name="id" >
        </label>
        <label> 收件人
            <input name="id" >
        </label>
        <div class="cf-turnstile" data-sitekey="1x00000000000000000000AA"></div>
        <button type="submit">查询</button>
    </form>

    {{if .Authenticated}}
    <p>管理员工具</p>
    <a href="/create/">
        <button>创建 key</button>
    </a>
    <a href="/admin/keys">
        <button>查看 key</button>
    </a>
    {{end}}
</div>
</body>
</html>