{{ define "key_not_enable.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Key 未启用</title>
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div class="wrap">
        <div class="card">
            <h1>安洁露邮件查询</h1>
            <p> <strong>{{ .Key }}</strong> 还在登记中哦，过一段时间再来查看吧！</p>
            <p class="small" style="color: gray">
                <button class="btn" onclick="location.href='/create/{{.Key}}'">点击这里登录</button>
            </p>
        </div>
    </div>
</body>
</html>
{{end}}