{{ define "view_check.html" }}
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>查询数据 {{ .Key }}</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script
            src="https://challenges.cloudflare.com/turnstile/v0/api.js"
            async
            defer
    ></script>
</head>
<body>
    <div class="wrap">
        <form class="card" method="post" action="/lookup/">
            <div>
                <h1 style="text-align: center">安洁露邮件溯源查询系统——查询: {{ .Key }}</h1>
                <p>该系统用于追溯明信片、信件、包裹等发出时的状态</p>
                <p>请扫描邮件二维码查询，或手动输入：</p>
            </div>
            {{if .error}}
            <p style="color: #ca0000;font-weight: bold">错误: {{.error}}</p>
            {{end}}
            <label for="keyID"> ID: </label>
            <input id="keyID" name="keyID" type="text" value="{{.Key}}" placeholder="请扫描信件二维码或输入标签上的ID" autocapitalize="on">
            {{if eq .EncryptType "recipient" }}
            <label for="password"> 收件人名称: </label>
            <input id="password" name="formPassword" type="text" class="passwdInput"
                   placeholder="信件上的收信人名称">
            {{else}}
            <label for="password"> 查询码: </label>
            <input id="password" name="formPassword" type="text" class="passwdInput"
                   placeholder="查询密码（注意大小写）（无密码则无需填写）">
            {{end}}
            <div class="cf-turnstile" data-sitekey="{{.SiteKey}}"
                 data-callback="onTurnstileSuccess"></div>
            <button id="submitBtn" class="btn" type="submit" disabled>验证中...</button>
        </form>
    </div>
    <script>

        function onTurnstileSuccess(token) {
            // Turnstile 验证成功后启用按钮
            let btn = document.getElementById("submitBtn");
            btn.disabled = false;
            btn.textContent = "查询"
        }

    </script>
</body>
</html>
{{ end }}